/* Better Roam Research - for dark mode */
@import url("https://linuz90.github.io/better-roam-research/main.css");

/* Import Spectral font */
@import url("https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

/* Need to add this to override part of Better Roam Research which makes code blocks colored weird */
.rm-code-block {
  color: #202b33 !important;
  font-size: 13px;
}

textarea,
div,
.level2 {
  /* font-family: 'Avenir'; */
  font-family: "Spectral" !important;
}
body,
.rm-bq {
  font-size: 16px !important;
}

/* font for H1 and H2 headings */
.rm-heading-level-2 > .rm-block__self .rm-block__input {
  font-family: "Spectral" !important;
}
.rm-heading-level-1 > .rm-block__self .rm-block__input {
  font-family: "Spectral" !important;
}

/* font size for sidebar */
.roam-body
  .roam-app
  .roam-sidebar-container
  .roam-sidebar-content
  .starred-pages-wrapper
  .starred-pages
  .page {
  font-size: 16px !important;
}

/* Articles */
span[data-link-title="📰articles"] {
  background-color: #5e5e5e !important;
  border: 1px #ffffff !important;
  border-radius: 3px !important;
  padding: 3px 6px !important;
}
span[data-link-title="📰articles"] .rm-page-ref {
  color: #ffffff !important;
}
/* hover case */
span[data-link-title="📰articles"]:hover {
  background-color: #c8c8c8;
}
span[data-link-title="📰articles"]:hover .rm-page-ref {
  text-decoration: none !important;
  color: #000 !important;
}

/* Starred */
span[data-link-title="⭐️starred"] {
  background-color: #fff100 !important;
  border: 1px #ffffff !important;
  border-radius: 3px !important;
  padding: 3px 6px !important;
}
span[data-link-title="⭐️starred"] .rm-page-ref {
  color: #000 !important;
}
/* hover case */
span[data-link-title="⭐️starred"]:hover {
  background-color: #aea100;
}
span[data-link-title="⭐️starred"]:hover .rm-page-ref {
  text-decoration: none !important;
  color: #fff !important;
}

/* Research papers */
span[data-link-title="🔬research papers"] {
  background-color: #adf2ff !important;
  border: 1px #ffffff !important;
  border-radius: 3px !important;
  padding: 3px 6px !important;
}
span[data-link-title="🔬research papers"] .rm-page-ref {
  color: #004e7f !important;
}
/* hover case */
span[data-link-title="🔬research papers"]:hover {
  background-color: #009aae;
}
span[data-link-title="🔬research papers"]:hover .rm-page-ref {
  text-decoration: none !important;
  color: #ffffff !important;
}
